/*
 **********************************************************************************************
 *
 * STYLESHEET FOR SAMPLE PAGE
 *
 ********************************************************************************************** 
 */


/* ***************** */
/* ***** FONTS ***** */
/* ***************** */

/* EXAMPLE - IMPORTING GOOGLE FONTS

@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

*/

@import url(https://fonts.googleapis.com/css?family=Advent+Pro:100);


/* ******************** */
/* ***** WEB VIEW ***** */
/* ******************** */



body 								{
									    height: 100%;
									}

h1									{
										font-family: 'Advent Pro', sans-serif;
										font-size: 3em;
										margin: .2em .5em;
										color: rgba(0,0,0, 0.3);
									}

.home-section-2 					{ 
  										background:  url(https://media.giphy.com/media/IlvKnQGKiCTqE/giphy.gif) no-repeat center center fixed; 
  										background-size: cover;
									}



/* ************************************* */
/* ***** OVERRIDING LIBRARY STYLES ***** */
/* ************************************* */



/* ********************************** */
/* ***** MEDIA QUERIES - MOBILE ***** */
/* ********************************** */

/* Small devices (mobiles, 768px and below) */
@media (max-width: 768px) {}


/* ********************************** */
/* ***** MEDIA QUERIES - TABLET ***** */
/* ********************************** */

/* Small devices (tablets, 768px and up) */
@media (max-width: 992px) {}


/* *********************************** */
/* ***** MEDIA QUERIES - DESKTOP ***** */
/* *********************************** */

/* Medium devices (desktops, 992px and up) */
@media (max-width: 1200px) {}


/* **************************************** */
/* ***** MEDIA QUERIES - WORKSTATIONS ***** */
/* **************************************** */

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}


